
        <script src="/js/bootstrap/popper.min.js" ></script>
        <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
        <script>
                $('.dropdown-toggle').dropdown()
        </script>
 </body>
</html>