@media (max-width: 768px){
	.sidebar{
		position: static;
		height: auto;
	}

	.top-navbar{
		position: static;
	}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

@media only screen and (max-width: 1090px) {
	.sb-title{
		display: none;
	}	

	.sidebar{
		width: 80px;
		transition: all .5s;
	}
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1210px) {
	.sb-title{
		font-size: .8em;
	}	
}


/*1210*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	
}